.container {
  width: 23%;
  height: 400px;
  background-color: #dedede;
  float: left;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.items {
  background-color: lightblue;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
}

.c1 {
  align-content: center;
}

.c2 {
  align-content: flex-start;
}

.c3 {
  align-content: flex-end;
}

.c4 {
  align-content: space-between;
}

.c5 {
  align-content: space-around;
}

.c6 {
    align-content: stretch;
}